<div class="section group top-footer">
	<h2>Kshatriya</h2>
	<section class="col span_4_of_12">
		<h3>Sitemap</h3>
		<ul>
			<li><a href="index.html">Kshatriya</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="blog/">Conversations</a></li>
			<li><a href="#">LEV Framework</a></li>
		</ul>
	</section>
	<section class="col span_6_of_12 footer">
		<h3>About</h3>
		<p>This is Kshatriya, a website to show the works of Aaron Fryer an aspiring Web Developer and Astronaut.</p>
	</section>	
</div>
<div class="section group bottom-footer">
	<section class="col span_11_of_12">
		<span class="social-buttons">
			<a class="button button-footer-social" href="mailto:aaronfryer@live.co.uk" role="button"><i class="fa fa-envelope fa-lg"></i></a>
			<a class="button button-footer-social" href="https://github.com/twiggyrj" role="button"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
			<a class="button button-footer-social" href="https://www.facebook.com/kshatriyadev" role="button"><i class="fa fa-facebook fa-lg"></i></a>
			<a class="button button-footer-social" href="https://plus.google.com/114066318397277764361" role="button"><i class="fa fa-google-plus fa-lg"></i></a>
			<a class="button button-footer-social" href="https://twitter.com/twiggyrj" role="button"><i class="fa fa-twitter fa-lg"></i></a>
		</span>
	</section>
</div>
<div class="section group music-footer">
	<section class="col span_11_of_12">
		<audio controls loop>
			<source src="audio/02.mp3" type="audio/mpeg">
			Your browser does not support the audio tag.
		</audio>
	</section>
</div>