<div data-role="panel" data-position-fixed="true" id="leftpanel" data-display="overlay" data-position="left">
	<!-- Table Of Contents -->
	<ul>
		<li class = "toc">&nbsp;</li>
		<li class = "toc_text">Kshatriya</li>
		<li class = "sidr_button"><a data-ajax="false" href="https://kshatriya.co.uk/index.html">Kshatriya</a></li>
		<li class = "sidr_button"><a data-ajax="false" href="blog/">Conversations</a></li>
	</ul>
	<br />
	<h2>Kshatriya</h2>
	<ul>
		<li class = "sidr_button"><a data-ajax="false" href="index.html">Kshatriya</a></li>
		<li class = "sidr_button"><a data-ajax="false" href="about.html">About</a></li>
		<li class = "sidr_button"><a data-ajax="false" href="contact.html">Contact Us</a></li>
		<li class = "sidr_button"><a data-ajax="false" href="videos.html">Our Apps</a></li>
	</ul>
	<ul>
		<li class = "sidr_button"><a href="#nav" data-rel="close">Back <i class="fa fa-arrow-right"></i></a></li>
	</ul>
</div><!-- /panel -->yPYcB63b3qLRzhbx